# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# build
/dist

**/*.json
**/*.md
**/*.yml

LICENSE
dockerfile